anyio==4.14.2
certifi==2026.2.25
charset-normalizer==3.5.1
detect-secrets==1.5.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.19
pyyaml==6.0.3
redis==7.3.0
requests==2.34.2
ruff==0.16.5
urllib3==2.7.0
prometheus-client>=0.26.0
aiohttp==3.14.3
python-dotenv>=1.2.3
prometheus-fastapi-instrumentator>=6.1.0
starlette==0.52.1
wheel==0.48.0
setuptools>=80.0.0
pip>=26.0.1
authlib==1.8.0
nltk==3.10.3
PyJWT==2.13.0
python-multipart==0.0.32
tornado==6.5.8
pillow==12.1.1
stripe>=7.0.0
